<section class="grid-rows-weather-station grid h-screen">
  <.weather_station_header
    outdoor_connection={@outdoor_connection}
    indoor_connection={@indoor_connection}
  />
  <main class="p-4">
    <%= @inner_content %>
  </main>
  <.weather_station_footer auth_code={@auth_code} flash={@flash} />
</section>
